*{
    margin: 0;
    color: black;
    font-family: 'Circular', sans-serif;
}
body{
    background-color: var(--white);
    display: grid;
    place-items: center;
    min-height:100vh;

    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-color: #ffffff; /* Cambia esto a tu color de fondo */
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.04) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.04) 1px, transparent 1px);
    background-size: 14px 24px;
}

.img-song{
    width: 350px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    transition: background-image 10.5s ease-in-out;
}

.ctrl{
    padding: 20px;
    background-color: #EAEAEA;
    width: 308px;
    display: grid;
    place-items: center;
    grid-template-rows: 25% 10% 20% 45%;
    font-size: 25px;                              
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 35px;
    top: 0;
    left: 0;
    transition: opacity 10.0s ease-in-out;
}
#progress-song{
    width: 100%;
    margin-top:30px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: rgb(255, 0, 0);
    overflow: hidden;
}

.controls-media{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 33% 33% 33%;
}
.duration-progress{
    width: 100%;
}
.time-info{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#current-time{
    text-align: start;
}
#total-time{
    text-align: end;
}

#current-time,
#total-time,
.artist{
    font-size: small;
}
.title{
    font-size:large;
    font-weight:900;
}